/*////////// DEVICES ////////////*/

@media only screen and (max-width: 1000px) {
  .container {
    width: 85%;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  p {
    text-align: center;
  }
}





@media only screen and (max-width: 920px) {
  [class^="col-"] {
  float: none;
  /*margin: 0 0 2% 0;*/
  width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    padding: 30px 0 25px;
    background: url(../images/burian-complete.1.png) no-repeat;
    background-size: cover;
  }
}
